{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">

<div class="row">


  <div class="col-md-4">
    <h3> {{current_user.username| capitalize}} </h3>

    {% if current_user.bio %}
      <p> {{current_user.bio}}</p>
<a href="{{url_for('main.update_profile',uname=user.username)}}">Edit bio</a>
    {%else%}
      <p> {{current_user.username| capitalize}} has no bio </p>
    {% endif %}
    <div class="container card">
      <h4 class="card-header">Your pitches</h4>
      <ul>
        {% for pitch in pitches_content %}
        <li>{{pitch.content}}</li>
        <a href="{{url_for('main.update_blog',pitch_id=pitch.id)}}">Edit blog</a>
        <form action="{{ url_for('main.delete_blog', pitch_id=pitch.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
        {% endfor %}
      </ul>
    </div>

   

  </div>
 
</div>
</div>
{% endblock %}