{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">

        <h2 class="card">The blog post</h2>
        <div class="quotes">
        <h3> Quotes</h3>
         <ul>
            {% for quote in quotes %}
                <li>{{ quote.quote}}</li>
            {% endfor %}
        </ul>
      </div>
        
          <div class="tab-content ">
            <h4>The most recent posts </h4>
            <div><br>
                <div class="card">{{macro.displayBlogs(blogs)}}</div>
            </div>
          </div> 
   </div>




{% endblock %}