{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Content block -->

{% block styles%}
    {{ super() }}
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> -->
{% endblock %}

{% block content %}

    <title> {{ title }} </title>

    <div class="container">

        <h2 class="hey">The blog post</h2>
        <div class="quotes">
        <h3 class='quotes styles:"color:black;"'></h3>
         <ul></ul>
            {% for quote in quotes %}
                <small>{{ quote.quote}}</small><br>
                <small>by {{ quote.author}}</small><br><br>
            {% endfor %}

        </ul>
      </div>
        
          <div class="blogs">
              <br><br><br>
            <h4>The most recent posts </h4>
            <div><br>
                <div>{{macro.displayBlogs(blogs)}}</div>
            </div>
          </div> 
   </div>




{% endblock %}